/* header */ 

header {
    background: url('img/bgphotshop.png');
    background-size: cover;
    background-position: center;
    height: 95vh; /* espace pour voir qu'on peut descendre dans la page */ 
}

.text-intro {
    padding-top: 300px;
    padding-bottom: 200px;
}

.preTxt {
    font-style: italic ;
    font-size: 70px;
    margin: 0;
    color:#2f2d2d;
    line-height: 0.5;
}

h1 {
    font-size: 150px;
    color: #2f2d2d;
    font-family: 'Kaushan Script';
    font-weight: 700;
}


/* nav */ 

.navbar-brand {
    font-size: 45px!important; /* on écrit par-dessus le style de la classe navbar-brand Bootstrap */ 
    font-family: 'Kaushan Script'!important; 
}

.navbar a {
    color: #fff!important;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
}


/* à propos */ 

#aPropos {
    margin-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px dashed #2f2d2d;
}


/* 3 icones */ 

.icones {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* premiere banniere */ 

#ban1 {
    position: relative;
    background: url(img/banniere1.png);
    background-position: right; /*focus sur partie droite de l'img*/ 
    background-attachment: fixed; /*effet */
    background-repeat: no-repeat;
    text-align: center;
}


/* galerie */ 

#galerie {
    padding-bottom: 100px;
}

.h2Photos {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Kaushan Script';
    font-size: 70px;
}

#galerie .container p {
    padding-bottom: 40px;
}


/* seconde bannière */ 

#ban2 {
    min-height: 300px;
    position: relative;
    background: url('img/Banniere2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

#carouselContent {
    margin-top: 70px;
    font-size: 35px;
    color:black;
    font-weight: 400;
}


/* cartes */ 

.offreH {
    font-size: 70px;
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: 'Kaushan Script';
}

#cartes {
    /* haut dr bas gauche */
    padding: 50px 0 100px 0;
}

.threeCards {
    width: 300px;
    height: 520px;
    margin: 30px auto;
    position: relative;
    transition: 0.2s ease-in;
    box-shadow: 0px 10px 30px black;
}

.threeCards:hover {
    transform: scale(1.1);
}

.header {
    height: 200px;
    width: 300px;
    position: relative;
    background:rgba(216,216,216,0.5);
}

.header h2 {
    margin: 0;
    position: relative;
    top: 130px;
    text-align: center;
    font-family: 'Lato';
    font-size: 15px;
}

.spanPrix {
    font-size: 40px;
}

.type {
    height: 120px;
    width: 300px;
    background: rgba(2,2,2,0.5);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: absolute;
    top: 0;
}

.type h2 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Kaushan Script';
    font-size: 30px;
    position:relative;
    top: 30px;
}

.details {
    background: white;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: 'Lato';
    transition: all 0.2s ease-in;
}

.details:hover {
    background: rgba(181, 200, 230, 0.1);
}

#btn {
    background: white;
    height: 80px;
}

#btn a {
    text-decoration: none;
    font-family: 'Lato';
    height: 50px;
    width: 120px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 10px;
    border-radius: 30px;
    border: 1px solid #22a7f0;
    transition: all 0.2s ease-in; /* rapide puis lent */
}

#btn a:hover {
    background: rgba(6, 136, 206, 0.8);
    color: white;
}


/* Pregress section */ 

#progress {
    border-top : 1px dashed black;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* section clients */ 

#clients {
    border-top: 1px dashed black;
    border-bottom: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}