/* header */ 

header {
    background: url('img/bgphotshop.png');
    background-size: cover;
    background-position: center;
    height: 95vh; /* espace pour voir qu'on peut descendre dans la page */ 
}

.text-intro {
    padding-top: 300px;
    padding-bottom: 200px;
}

.preTxt {
    font-style: italic ;
    font-size: 70px;
    margin: 0;
    color:#2f2d2d;
    line-height: 0.5;
}

h1 {
    font-size: 150px;
    color: #2f2d2d;
    font-family: 'Kaushan Script';
    font-weight: 700;
}


/* nav */ 

.navbar-brand {
    font-size: 45px!important; /* on écrit par-dessus le style de la classe navbar-brand Bootstrap */ 
    font-family: 'Kaushan Script'!important; 
}

.navbar a {
    color: #fff!important;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
}


/* à propos */ 

#aPropos {
    margin-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px dashed #2f2d2d;
}


/* 3 icones */ 

.icones {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* premiere banniere */ 

#ban1 {
    position: relative;
    background: url(img/banniere1.png);
    background-position: right; /*focus sur partie droite de l'img*/ 
    background-attachment: fixed; /*effet */
    background-repeat: no-repeat;
    text-align: center;
}


/* galerie */ 

#galerie {
    padding-bottom: 100px;
}

.h2Photos {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Kaushan Script';
    font-size: 70px;
}

#galerie .container p {
    padding-bottom: 40px;
}